/* @font-face {
  font-family: "EastmanTrial";
  src: url("../fonts/EastmanTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EastmanTrial";
  src: url("../fonts/EastmanTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EastmanTrial";
  src: url("../fonts/EastmanTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
} */
